## 리스트 처리

In [3]:
l = [1,2,3]
print(l)

[1, 2, 3]

In [2]:
print(type(l))

<class 'list'>

In [4]:
l = [1,2,3]
print(l)

l.append(4)
print(l)

[1, 2, 3]
[1, 2, 3, 4]

In [6]:
l = [1,2,3]
print(l)

a = l.pop()
print(a)
print(l)

[1, 2, 3]
3
[1, 2]

In [23]:
l = [] 
n = 11
for i in range(1,n+1) :
    if i == 1 :
        l.append(i)
        continue
        
    if i == 2 :
        l.append(i)
        continue
        
    if ((n % i) == 0 & (i % 2) == 0 ):
        
        continue
    else :
        pass
        
    l.append(i)

print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
num = int(input(" 수를 입력하세요 : "))

# prime numbers are greater than 1
if num > 1:
    #약수 구하기
    for i in range(2,num):
        if (num % i) == 0:
            print(num,"is not a prime number")
            print(i,"times",num//i,"is",num)
            break
   
    else:
        print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
else:
    print(num,"is not a prime number")

 수를 입력하세요 : 12
12 is not a prime number
2 times 6 is 12

In [29]:
num = int(input(" 수를 입력하세요 : "))

l = []

for num in range(1,num+1):
    prime = True
    for i in range(2,num):
        if (num%i==0):
            prime = False
    if prime:
        l.append(num)
        
print(l)

 수를 입력하세요 : 11
[1, 2, 3, 5, 7, 11]

In [33]:
num = 11
for i in range(2,num):
    if (num % i==0) :
        print(i)

In [36]:
l = [1,2,3,4]

print(" 리스트 원소 갯수",len(l))

for i in range(len(l)) :
    print(l[i])

 리스트 원소 갯수 4
1
2
3
4

In [37]:
l = [1,2,3,4]

print(" 리스트 원소 갯수",len(l))


print(l[2:4])

 리스트 원소 갯수 4
[3, 4]

In [39]:
l = [1,2,3,4]

for index, value in enumerate(l) :
    print("l index : ", index, "value :", value)

l index :  0 value : 1
l index :  1 value : 2
l index :  2 value : 3
l index :  3 value : 4

In [45]:
double_quote = "문자열 1"
single_quote = '문자열 2'

print(double_quote)
print(single_quote)

문자열 1
문자열 2

In [46]:
english = "string"
korean = '문자열'

print(english, len(english))
print(korean, len(korean))

string 6
문자열 3

In [49]:
name = '문자열 처리하기'
print(name)
print(name.replace("처리", "대체"))

문자열 처리하기
문자열 대체하기

In [52]:
서시 = """죽는 날까지 하늘을 우르러
한점 부끄럼이 없기를,
잎새에 이는 바람에도
나는 괴로워했다.
별을 노래하는 마음으로
모든 죽어가는것들을 사랑해야지
그리고 나한테 주어진 길을
걸어가야겠다.

오늘밤에도 별이 바람에 스치운다."""

print(서시.replace("별", "달"))

죽는 날까지 하늘을 우르러
한점 부끄럼이 없기를,
잎새에 이는 바람에도
나는 괴로워했다.
달을 노래하는 마음으로
모든 죽어가는것들을 사랑해야지
그리고 나한테 주어진 길을
걸어가야겠다.

오늘밤에도 달이 바람에 스치운다.

In [56]:
name="macdonald"

print(name[1])
print(name[2:4])
print(len(name))

a
cd
9

In [55]:
name="macdonald"
print(name.count("a"))

count = 0 
for i in name :
    if i == "a" :
        count += 1
print(count)

2
2

In [59]:
sv1 = "I fly"
sv2 = "I am happy"
sv3 = "I love programing"

l = [sv1,sv2,sv3]

for i in l :
    print(" ".join(i.split(" ")))

I fly
I am happy
I love programing

In [62]:
title  = "Python"
author = "iljung"
page   = 300

print(f" title : { (title):10s}, page : {(page):3d}, Author : { (author):10s} " )

print(f" title : { (title) :10s}, page : {(page):3d}, Author : {(author):>10s} " )

 title : Python    , page : 300, Author : iljung
 title : Python    , page : 300, Author :     iljung

In [64]:
total = 0
for i in range(1,11) :
    total = total +i
print(total)

print(sum(range(1,11)))

55
55

In [65]:
def total(x) : 
    total = 0
    for i in range(1,x+1) :
        total += i
        
    return total

print(total(10))
print(total(100))

55
5050

In [71]:
def total_func(x) : 
    total = 0
    count = 0
    for i in range(1,x+1) :
        total += i
        count += 1
        
    return total,count

def mean(x) :
    ntotal = 0 
    ncount = 0
    ntotal, ncount = total_func(x)
    return ntotal/ncount

print(mean(10))
print(sum(range(1,11))/10)

5.5
5.5

In [75]:

def area(x,y=None) :
    if y == None :
        y = x
    return x*y

def circle(x) :
    return 3.14 * area(x)

def triangle(x,y) :
    return area(x,y)/2

print(area(5))

print(circle(5))

print(triangle(5,5))

25
78.5
12.5

In [80]:
d = {'a' : 'alpha', 'o': 'omega', 'g': 'gamma'} 

print(d)
print(d.keys())
print(d.values())
print(d.items())

{'a': 'alpha', 'o': 'omega', 'g': 'gamma'}
dict_keys(['a', 'o', 'g'])
dict_values(['alpha', 'omega', 'gamma'])
dict_items([('a', 'alpha'), ('o', 'omega'), ('g', 'gamma')])

In [93]:
d = {'a' : 'alpha', 'o': 'omega', 'g': 'gamma'} 

for k in d :
    print(k)

a
o
g

In [91]:
d = {'a' : 'alpha', 'o': 'omega', 'g': 'gamma'} 

for k,v in d.items() :
    print(k,v)

a alpha
o omega
g gamma

In [94]:
domain = [1,2,3,4,5]

def codomain(x,a,b) :
    y = []
    for i in x :
        y.append(a*i+b)
    return y

cod = codomain(domain,3,2)

f_x = {}

for k,y in zip(domain,cod) :
    f_x[k] = y
    
print(f_x)

{1: 5, 2: 8, 3: 11, 4: 14, 5: 17}

In [95]:
d = {}
s = set()

print(d)
print(s)

{}
set()

In [96]:
ds = {1:1,2:2,3:3}
dc = {x:x for x in range(1,4)}

print(ds)
print(dc)

if ds == dc :
    print(" same element ")

{1: 1, 2: 2, 3: 3}
{1: 1, 2: 2, 3: 3}
 same element

In [97]:
ls = [1,2,3,4,5]
lc = [x for x in range(1,6)]

print(ls)
print(lc)

if ls == lc :
    print(" same element ")

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
 same element

In [99]:
lc = [[x for x in range(1,6)] for _ in range(3)]
print(lc)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [100]:
ss = {1,2,3,4}
sc = {x for x in range(1,5)}

print(ss)
print(sc)

if ss == sc :
    print(" same element ")

{1, 2, 3, 4}
{1, 2, 3, 4}
 same element

In [90]:
def area(x,y=None) :
    if y == None :
        y = x
    return x*y

def circle(x) :
    return 3.14 * area(x)

def triangle(x,y=None) :
    if y == None :
        y = x
    return area(x,y)/2


d = {'area' : area, 'circle':circle, 'triangle' : triangle}

print("사각형 면적 : ", d['area'](5,5))
print("삼각형 면적 : ", d['triangle'](5))
print("원의  면적 : ", d['circle'](5))

사각형 면적 :  25
삼각형 면적 :  12.5
원의  면적 :  78.5

In [87]:
del globals()['triangle']

In [101]:
morse = {"A":"・－", "B":"－・・・", "C":"－・－・", 
         "D":"－・・", "E":"・", "F":"・・－・", 
         "G":"－－・", "H":"・・・・","I":"・・", 
         "J":"・－－－", "K":"－・－","L":"・－・・",
         "M":"－－","N":"－・","O":"－－－","P":"・－－・",
         "Q":"－－・－","R":"・－・","S":"・・・","T":"－",
         "U":"・・－","V":"・・・－","W":"・－－",
         "X":"－・・－","Y":"－・－－","Z":"－－・・"," ":""}

#빈칸 “ ”으로 설정
letter = input("변환할 문장을 입력하세요. 알파벳 대문자만 가능합니다.")
print("입력하신 문장의 모스부호는")
for i in range(len(letter)):
    print(morse[letter[i]])
print("입니다.")

변환할 문장을 입력하세요. 알파벳 대문자만 가능합니다.A
입력하신 문장의 모스부호는
・－
입니다.

In [103]:
x = 100
y = 200

z = y,x
print(z)

x,y = y,x

print(x)
print(y)

(200, 100)
200
100

In [108]:
i = 1

im = i << 1

print(bin(im))
print(im)

im = i << 2

print(bin(im))
print(im)

0b10
2
0b100
4

In [109]:
i = 8

im = i >> 1

print(bin(im))
print(im)

im = i >> 2

print(bin(im))
print(im)

0b100
4
0b10
2

In [111]:
def func(parameter1, parameter2) :
    print(parameter1,parameter2)
    

func({"a":1}, 9999)
func("a",[1,2,3])

{'a': 1} 9999
a [1, 2, 3]

In [119]:
s = "가을"

for i in s :
    print(ord(i),end=" ")
    print(hex(int(ord(i))),end=" ")
    print(chr(ord(i)))

44032 0xac00 가
51012 0xc744 을

In [120]:
import math

c = math.sqrt(math.pow(3,2)+ math.pow(4,2))

print(c)

5.0

In [121]:
c = (3**2 + 4**2)**(1/2)
print(c)

5.0

In [124]:
def power(x) :
    if x < 0 :
        return 1/2
    else :
        return x**2

def sqrt(x,y) :
    return (power(x) + power(y))**power(-1)

c = sqrt(3,4)
print(c)

5.0

In [129]:
def power(x) :
    if x < 0 :
        return 1/2
    else :
        return x**2

l = [1,2,3,4,5]

lm = map(power,l)

print(list(lm))

[1, 4, 9, 16, 25]

In [130]:

lc = [x**2 for x in range(1,6)]
print(lc)

[1, 4, 9, 16, 25]

In [131]:
def power(x) :
    if x < 0 :
        return 1/2
    else :
        return x**2
    
lc = [power(x) for x in range(1,6)]
print(lc)

[1, 4, 9, 16, 25]

In [132]:
l = []
for i in range(5) :
    l.append(i)

print(l)

[0, 1, 2, 3, 4]

In [133]:
lc = [x for x in range(5)]
print(lc)

[0, 1, 2, 3, 4]

In [135]:
even = [x for x in range(1,11) if x % 2 == 0]
print(even)

odd = [x for x in range(1,11) if x % 2 == 1]
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [146]:
l = [ 1,2,3,4,5,6,7,8,9,10]

def even_f(x) :
    if x % 2 == 0 :
        return True
    else :
        return False

def odd_f(x) :
    if x % 2 == 0 :
        return False
    else :
        return True

even = filter(even_f,l)
print(list(even))

odd = filter(odd_f,l)
print(list(odd))

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]